{
    "presets": [
        [
            "es2015", {
                "modules": false
            }
        ],
        "react",
        "env"
    ],

    "plugins": [
        "react-hot-loader/babel"
    ]
}