:root {
    --button-active:pink;
    --button-unactive: black;
}

.button {
    width:70px;
    height: 30px;
    color:white;
}
.button--active{
    background:var(--button-active);
    border: solid var(--button-active);
}

.button--unactive {
    background:var(--button-unactive);
    border: solid var(--button-unactive);
}